In [45]:
import pandas as pd
df = pd.read_csv("C:/Users/Anany/OneDrive/Desktop/Github/AIcore/Modelling_Airbnbs_property_listing_dataset/airbnb-property-listing/tabular_data/listing.csv")

In [46]:
df.head()

,ID,Category,Title,Description,Amenities,Location,guests,beds,bathrooms,Price_Night,Cleanliness_rating,Accuracy_rating,Communication_rating,Location_rating,Check-in_rating,Value_rating,amenities_count,url,bedrooms,Unnamed: 19
0,f9dcbd09-32ac-41d9-a0b1-fdb2793378cf,Treehouses,Red Kite Tree Tent - Ynys Affalon,"['About this space', ""Escape to one of these t...","['What this place offers', 'Bathroom', 'Shampo...",Llandrindod Wells United Kingdom,2,1.0,1.0,105,4.6,4.7,4.3,5.0,4.3,4.3,13.0,https://www.airbnb.co.uk/rooms/26620994?adults...,NaN,NaN
1,1b4736a7-e73e-45bc-a9b5-d3e7fcf652fd,Treehouses,Az Alom Cabin - Treehouse Tree to Nature Cabin,"['About this space', ""Come and spend a romanti...","['What this place offers', 'Bedroom and laundr...",Guyonvelle Grand Est France,3,3.0,0.0,92,4.3,4.7,4.6,4.9,4.7,4.5,8.0,https://www.airbnb.co.uk/rooms/27055498?adults...,1,NaN
2,d577bc30-2222-4bef-a35e-a9825642aec4,Treehouses,Cabane Entre Les Pins\nüå≤üèïÔ∏èüå≤,"['About this space', 'Rustic cabin between the...","['What this place offers', 'Scenic views', 'Ga...",Duclair Normandie France,4,2.0,1.5,52,4.2,4.6,4.8,4.8,4.8,4.7,51.0,https://www.airbnb.co.uk/rooms/51427108?adults...,1,NaN
3,ca9cbfd4-7798-4e8d-8c17-d5a64fba0abc,Treehouses,Tree Top Cabin with log burner & private hot tub,"['About this space', 'The Tree top cabin is si...","['What this place offers', 'Bathroom', 'Hot wa...",Barmouth Wales United Kingdom,2,NaN,1.0,132,4.8,4.9,4.9,4.9,5.0,4.6,23.0,https://www.airbnb.co.uk/rooms/49543851?adults...,NaN,NaN
4,8b2d0f78-16d8-4559-8692-62ebce2a1302,Treehouses,Hanging cabin,"['About this space', 'Feel refreshed at this u...","['What this place offers', 'Heating and coolin...",Wargnies-le-Petit Hauts-de-France France,2,1.0,NaN,111,NaN,NaN,NaN,NaN,NaN,NaN,5.0,https://www.airbnb.co.uk/rooms/50166553?adults...,1,NaN

In [47]:
#removing rows with missing columns in rating
df = df.dropna(subset=['Cleanliness_rating','Accuracy_rating','Communication_rating','Location_rating','Check-in_rating','Value_rating'])

In [48]:
df.head()

,ID,Category,Title,Description,Amenities,Location,guests,beds,bathrooms,Price_Night,Cleanliness_rating,Accuracy_rating,Communication_rating,Location_rating,Check-in_rating,Value_rating,amenities_count,url,bedrooms,Unnamed: 19
0,f9dcbd09-32ac-41d9-a0b1-fdb2793378cf,Treehouses,Red Kite Tree Tent - Ynys Affalon,"['About this space', ""Escape to one of these t...","['What this place offers', 'Bathroom', 'Shampo...",Llandrindod Wells United Kingdom,2,1.0,1.0,105,4.6,4.7,4.3,5.0,4.3,4.3,13.0,https://www.airbnb.co.uk/rooms/26620994?adults...,NaN,NaN
1,1b4736a7-e73e-45bc-a9b5-d3e7fcf652fd,Treehouses,Az Alom Cabin - Treehouse Tree to Nature Cabin,"['About this space', ""Come and spend a romanti...","['What this place offers', 'Bedroom and laundr...",Guyonvelle Grand Est France,3,3.0,0.0,92,4.3,4.7,4.6,4.9,4.7,4.5,8.0,https://www.airbnb.co.uk/rooms/27055498?adults...,1,NaN
2,d577bc30-2222-4bef-a35e-a9825642aec4,Treehouses,Cabane Entre Les Pins\nüå≤üèïÔ∏èüå≤,"['About this space', 'Rustic cabin between the...","['What this place offers', 'Scenic views', 'Ga...",Duclair Normandie France,4,2.0,1.5,52,4.2,4.6,4.8,4.8,4.8,4.7,51.0,https://www.airbnb.co.uk/rooms/51427108?adults...,1,NaN
3,ca9cbfd4-7798-4e8d-8c17-d5a64fba0abc,Treehouses,Tree Top Cabin with log burner & private hot tub,"['About this space', 'The Tree top cabin is si...","['What this place offers', 'Bathroom', 'Hot wa...",Barmouth Wales United Kingdom,2,NaN,1.0,132,4.8,4.9,4.9,4.9,5.0,4.6,23.0,https://www.airbnb.co.uk/rooms/49543851?adults...,NaN,NaN
5,cfe479b9-c8f8-44af-9bc6-46ede9f14bb5,Treehouses,Treehouse near Paris Disney,"['About this space', 'Charming cabin nestled i...","['What this place offers', 'Bathroom', 'Hair d...",Le Plessis-Feu-Aussoux √éle-de-France France,4,3.0,1.0,143,5.0,4.9,5.0,4.7,5.0,4.7,32.0,https://www.airbnb.co.uk/rooms/935398?adults=1...,2,NaN

In [49]:
problematic_row = df.loc[df['Title'] == 'Stunning Cotswolds Water Park'].index[0]
problematic_row

586

In [50]:
df.loc[587]

ID                                   943e9242-7cfe-4db2-bb56-d7147fef352e
Category                                                    Amazing pools
Title                    The Burrow - Luxurious Pet Friendly, 3 Bed Lodge
Description             ['About this space', "Set in a peaceful area o...
Amenities               ['What this place offers', 'Bathroom', 'Shampo...
Location                                  Cotswold England United Kingdom
guests                                                                  6
beds                                                                  5.0
bathrooms                                                             1.5
Price_Night                                                           163
Cleanliness_rating                                                    5.0
Accuracy_rating                                                       4.9
Communication_rating                                                  4.9
Location_rating                                                       4.9
Check-in_rating                                                       4.9
Value_rating                                                          4.9
amenities_count                                                      37.0
url                     https://www.airbnb.co.uk/rooms/41170958?adults...
bedrooms                                                                3
Unnamed: 19                                                           NaN
Name: 587, dtype: object

In [51]:
'''
 trying something
def combine_description_settings(df1):
    # Drop rows where description is empty
    df1 = df1.dropna(subset=['Description'])

    # Helper function to clean and combine list items into a single string
    def clean_and_combine_list_items(item):
        if isinstance(item, str):
            return ', '.join(v.strip() for v in ast.literal_eval(item) if isinstance(v, str))
        return ''

    # Cleaning and combining description and amenities columns
    df1['Description'] = df1['Description'].str.replace('About this space', '').str.strip().apply(clean_and_combine_list_items)
    df1['Amenities'] = df1['Amenities'].str.replace('What this place offers', '').str.strip().apply(clean_and_combine_list_items)

    # Removing the first comma
    df1['Amenities'] = df1['Amenities'].str.replace(',', '', 1)

    return df1

df = combine_description_settings(df)
'''

"\n trying something\ndef combine_description_settings(df1):\n    # Drop rows where description is empty\n    df1 = df1.dropna(subset=['Description'])\n\n    # Helper function to clean and combine list items into a single string\n    def clean_and_combine_list_items(item):\n        if isinstance(item, str):\n            return ', '.join(v.strip() for v in ast.literal_eval(item) if isinstance(v, str))\n        return ''\n\n    # Cleaning and combining description and amenities columns\n    df1['Description'] = df1['Description'].str.replace('About this space', '').str.strip().apply(clean_and_combine_list_items)\n    df1['Amenities'] = df1['Amenities'].str.replace('What this place offers', '').str.strip().apply(clean_and_combine_list_items)\n\n    # Removing the first comma\n    df1['Amenities'] = df1['Amenities'].str.replace(',', '', 1)\n\n    return df1\n\ndf = combine_description_settings(df)\n"

In [52]:
df.loc[df['ID']=='4c917b3c-d693-4ee4-a321-f5babc728dc9'].index

Int64Index([586], dtype='int64')

In [53]:
df.at[586, 'Title'] = 'Stunning Cotswolds Water Park, sleeps 6 with pool'
df.at[586, 'Description'] = df['Amenities'][586]
df.at[586, 'Amenities'] = df['Location'][586]
df.at[586, 'Location'] = df['guests'][586]
df.at[586, 'guests'] = df['beds'][586]
df.at[586, 'beds'] = df['bathrooms'][586]
df.at[586, 'bathrooms'] = df['Price_Night'][586]
df.at[586, 'Price_Night'] = df['Cleanliness_rating'][586]
df.at[586, 'Cleanliness_rating'] = df['Accuracy_rating'][586]
df.at[586, 'Accuracy_rating'] = df['Communication_rating'][586]
df.at[586, 'Communication_rating'] = df['bedrooms'][586]
df.at[586, 'bedrooms'] = df['Unnamed: 19'][586]

In [54]:
df = df[df['Description'] != 'sleeps 6 with pool']

In [55]:
import ast
df = df.dropna(subset=['Description'])
# Remove "About this space" prefix
df['Description'] = df['Description'].apply(lambda x: x.replace('About this space', '').strip() if isinstance(x, str) else x)

# Combine list items into a single string
df['Description'] = df['Description'].apply(lambda x: ' '.join(['' if v == '' else v.strip() for v in ast.literal_eval(x) if isinstance(v, str)]))

In [56]:
df.head()

,ID,Category,Title,Description,Amenities,Location,guests,beds,bathrooms,Price_Night,Cleanliness_rating,Accuracy_rating,Communication_rating,Location_rating,Check-in_rating,Value_rating,amenities_count,url,bedrooms,Unnamed: 19
0,f9dcbd09-32ac-41d9-a0b1-fdb2793378cf,Treehouses,Red Kite Tree Tent - Ynys Affalon,Escape to one of these two fabulous Tree Tent...,"['What this place offers', 'Bathroom', 'Shampo...",Llandrindod Wells United Kingdom,2,1.0,1.0,105,4.6,4.7,4.3,5.0,4.3,4.3,13.0,https://www.airbnb.co.uk/rooms/26620994?adults...,NaN,NaN
1,1b4736a7-e73e-45bc-a9b5-d3e7fcf652fd,Treehouses,Az Alom Cabin - Treehouse Tree to Nature Cabin,Come and spend a romantic stay with a couple ...,"['What this place offers', 'Bedroom and laundr...",Guyonvelle Grand Est France,3,3.0,0.0,92,4.3,4.7,4.6,4.9,4.7,4.5,8.0,https://www.airbnb.co.uk/rooms/27055498?adults...,1,NaN
2,d577bc30-2222-4bef-a35e-a9825642aec4,Treehouses,Cabane Entre Les Pins\nüå≤üèïÔ∏èüå≤,"Rustic cabin between the pines, 3 meters high...","['What this place offers', 'Scenic views', 'Ga...",Duclair Normandie France,4,2.0,1.5,52,4.2,4.6,4.8,4.8,4.8,4.7,51.0,https://www.airbnb.co.uk/rooms/51427108?adults...,1,NaN
3,ca9cbfd4-7798-4e8d-8c17-d5a64fba0abc,Treehouses,Tree Top Cabin with log burner & private hot tub,The Tree top cabin is situated in our peacefu...,"['What this place offers', 'Bathroom', 'Hot wa...",Barmouth Wales United Kingdom,2,NaN,1.0,132,4.8,4.9,4.9,4.9,5.0,4.6,23.0,https://www.airbnb.co.uk/rooms/49543851?adults...,NaN,NaN
5,cfe479b9-c8f8-44af-9bc6-46ede9f14bb5,Treehouses,Treehouse near Paris Disney,"Charming cabin nestled in the leaves, real un...","['What this place offers', 'Bathroom', 'Hair d...",Le Plessis-Feu-Aussoux √éle-de-France France,4,3.0,1.0,143,5.0,4.9,5.0,4.7,5.0,4.7,32.0,https://www.airbnb.co.uk/rooms/935398?adults=1...,2,NaN

In [57]:
df["guests"].fillna(1, inplace=True)
df["beds"].fillna(1, inplace=True)
df["bathrooms"].fillna(1, inplace=True)
df["bedrooms"].fillna(1, inplace=True)

In [58]:
# Remove "About this space" prefix
df['Amenities'] = df['Amenities'].apply(lambda x: x.replace('What this place offers', '').strip() if isinstance(x, str) else x)

# Combine list items into a single string
df['Amenities'] = df['Amenities'].apply(lambda x: ', '.join(['' if v == '' else v.strip() for v in ast.literal_eval(x) if isinstance(v, str)]))

df['Amenities'] = df['Amenities'].str.replace(',', '', 1)

In [59]:
df = df.drop('Unnamed: 19',axis=1)
df = df.reset_index(drop=True)
df.head()

,ID,Category,Title,Description,Amenities,Location,guests,beds,bathrooms,Price_Night,Cleanliness_rating,Accuracy_rating,Communication_rating,Location_rating,Check-in_rating,Value_rating,amenities_count,url,bedrooms
0,f9dcbd09-32ac-41d9-a0b1-fdb2793378cf,Treehouses,Red Kite Tree Tent - Ynys Affalon,Escape to one of these two fabulous Tree Tent...,"Bathroom, Shampoo, Bedroom and laundry, Essen...",Llandrindod Wells United Kingdom,2,1.0,1.0,105,4.6,4.7,4.3,5.0,4.3,4.3,13.0,https://www.airbnb.co.uk/rooms/26620994?adults...,1
1,1b4736a7-e73e-45bc-a9b5-d3e7fcf652fd,Treehouses,Az Alom Cabin - Treehouse Tree to Nature Cabin,Come and spend a romantic stay with a couple ...,"Bedroom and laundry, Essentials, Towels, bed ...",Guyonvelle Grand Est France,3,3.0,0.0,92,4.3,4.7,4.6,4.9,4.7,4.5,8.0,https://www.airbnb.co.uk/rooms/27055498?adults...,1
2,d577bc30-2222-4bef-a35e-a9825642aec4,Treehouses,Cabane Entre Les Pins\nüå≤üèïÔ∏èüå≤,"Rustic cabin between the pines, 3 meters high...","Scenic views, Garden view, River view, Bathro...",Duclair Normandie France,4,2.0,1.5,52,4.2,4.6,4.8,4.8,4.8,4.7,51.0,https://www.airbnb.co.uk/rooms/51427108?adults...,1
3,ca9cbfd4-7798-4e8d-8c17-d5a64fba0abc,Treehouses,Tree Top Cabin with log burner & private hot tub,The Tree top cabin is situated in our peacefu...,"Bathroom, Hot water, Bedroom and laundry, Ess...",Barmouth Wales United Kingdom,2,1.0,1.0,132,4.8,4.9,4.9,4.9,5.0,4.6,23.0,https://www.airbnb.co.uk/rooms/49543851?adults...,1
4,cfe479b9-c8f8-44af-9bc6-46ede9f14bb5,Treehouses,Treehouse near Paris Disney,"Charming cabin nestled in the leaves, real un...","Bathroom, Hair dryer, Shampoo, Hot water, Sho...",Le Plessis-Feu-Aussoux √éle-de-France France,4,3.0,1.0,143,5.0,4.9,5.0,4.7,5.0,4.7,32.0,https://www.airbnb.co.uk/rooms/935398?adults=1...,2

In [60]:
df1 = df.copy()
#making a copy to work later
df1.head()

,ID,Category,Title,Description,Amenities,Location,guests,beds,bathrooms,Price_Night,Cleanliness_rating,Accuracy_rating,Communication_rating,Location_rating,Check-in_rating,Value_rating,amenities_count,url,bedrooms
0,f9dcbd09-32ac-41d9-a0b1-fdb2793378cf,Treehouses,Red Kite Tree Tent - Ynys Affalon,Escape to one of these two fabulous Tree Tent...,"Bathroom, Shampoo, Bedroom and laundry, Essen...",Llandrindod Wells United Kingdom,2,1.0,1.0,105,4.6,4.7,4.3,5.0,4.3,4.3,13.0,https://www.airbnb.co.uk/rooms/26620994?adults...,1
1,1b4736a7-e73e-45bc-a9b5-d3e7fcf652fd,Treehouses,Az Alom Cabin - Treehouse Tree to Nature Cabin,Come and spend a romantic stay with a couple ...,"Bedroom and laundry, Essentials, Towels, bed ...",Guyonvelle Grand Est France,3,3.0,0.0,92,4.3,4.7,4.6,4.9,4.7,4.5,8.0,https://www.airbnb.co.uk/rooms/27055498?adults...,1
2,d577bc30-2222-4bef-a35e-a9825642aec4,Treehouses,Cabane Entre Les Pins\nüå≤üèïÔ∏èüå≤,"Rustic cabin between the pines, 3 meters high...","Scenic views, Garden view, River view, Bathro...",Duclair Normandie France,4,2.0,1.5,52,4.2,4.6,4.8,4.8,4.8,4.7,51.0,https://www.airbnb.co.uk/rooms/51427108?adults...,1
3,ca9cbfd4-7798-4e8d-8c17-d5a64fba0abc,Treehouses,Tree Top Cabin with log burner & private hot tub,The Tree top cabin is situated in our peacefu...,"Bathroom, Hot water, Bedroom and laundry, Ess...",Barmouth Wales United Kingdom,2,1.0,1.0,132,4.8,4.9,4.9,4.9,5.0,4.6,23.0,https://www.airbnb.co.uk/rooms/49543851?adults...,1
4,cfe479b9-c8f8-44af-9bc6-46ede9f14bb5,Treehouses,Treehouse near Paris Disney,"Charming cabin nestled in the leaves, real un...","Bathroom, Hair dryer, Shampoo, Hot water, Sho...",Le Plessis-Feu-Aussoux √éle-de-France France,4,3.0,1.0,143,5.0,4.9,5.0,4.7,5.0,4.7,32.0,https://www.airbnb.co.uk/rooms/935398?adults=1...,2

In [61]:
label = 'guests'
features = df.drop(columns=[label,'Category','ID','Title','Description','Amenities','Location','url'])
labels = df[label]

print(features,labels)

     beds  bathrooms  Price_Night  Cleanliness_rating  Accuracy_rating  \
0     1.0        1.0          105                 4.6              4.7
1     3.0        0.0           92                 4.3              4.7
2     2.0        1.5           52                 4.2              4.6
3     1.0        1.0          132                 4.8              4.9
4     3.0        1.0          143                 5.0              4.9
..    ...        ...          ...                 ...              ...
825   2.0        1.5          240                 4.9              5.0
826   1.0        1.0           78                 4.8              5.0
827   2.0        1.5          113                 4.8              5.0
828   3.0        2.0           80                 4.7              4.8
829   2.0        1.0          104                 4.9              4.9

    Communication_rating  Location_rating  Check-in_rating  Value_rating  \
0                    4.3              5.0              4.3           4.3
1                    4.6              4.9              4.7           4.5
2                    4.8              4.8              4.8           4.7
3                    4.9              4.9              5.0           4.6
4                    5.0              4.7              5.0           4.7
..                   ...              ...              ...           ...
825                  5.0              5.0              4.9           4.8
826                  4.9              4.9              5.0           4.9
827                  5.0              5.0              5.0           4.8
828                  5.0              5.0              5.0           4.7
829                  4.9              4.9              4.9           4.3

     amenities_count bedrooms
0               13.0        1
1                8.0        1
2               51.0        1
3               23.0        1
4               32.0        2
..               ...      ...
825             33.0        2
826             54.0        1
827             38.0        2
828             24.0        2
829             29.0        2

[830 rows x 11 columns] 0      2
1      3
2      4
3      2
4      4
      ..
825    4
826    2
827    4
828    6
829    4
Name: guests, Length: 830, dtype: object

In [62]:
### PREVIOUS CODE SO FAR

import pandas as pd
import ast

def remove_rows_with_missing_ratings(df):
    
    #removing rows with missing columns in rating
    df = df.dropna(subset=['Cleanliness_rating','Accuracy_rating','Communication_rating','Location_rating','Check-in_rating','Value_rating'])
    return df


def combine_description_settings(df):
    #there seems to be a problematic row where every element of a column has shifted to the next column, fixing this manually and then moving ahead
    problematic_row = df.loc[df['Title'] == 'Stunning Cotswolds Water Park'].index[0]
    df.at[problematic_row, 'Title'] = 'Stunning Cotswolds Water Park, sleeps 6 with pool'
    df.at[problematic_row, 'Description'] = df['Amenities'][problematic_row]
    df.at[problematic_row, 'Amenities'] = df['Location'][problematic_row]
    df.at[problematic_row, 'Location'] = df['guests'][problematic_row]
    df.at[problematic_row, 'guests'] = df['beds'][problematic_row]
    df.at[problematic_row, 'beds'] = df['bathrooms'][problematic_row]
    df.at[problematic_row, 'bathrooms'] = df['Price_Night'][problematic_row]
    df.at[problematic_row, 'Price_Night'] = df['Cleanliness_rating'][problematic_row]
    df.at[problematic_row, 'Cleanliness_rating'] = df['Accuracy_rating'][problematic_row]
    df.at[problematic_row, 'Accuracy_rating'] = df['Communication_rating'][problematic_row]
    df.at[problematic_row, 'Communication_rating'] = df['bedrooms'][problematic_row]
    df.at[problematic_row, 'bedrooms'] = df['Unnamed: 19'][problematic_row]



    # Dropping rows where description is empty
    df = df.dropna(subset=['Description'])
    # Remove "About this space" prefix
    df['Description'] = df['Description'].apply(lambda x: x.replace('About this space', '').strip() if isinstance(x, str) else x)
    # Combine list items into a single string
    df['Description'] = df['Description'].apply(lambda x: ' '.join(['' if v == '' else v.strip() for v in ast.literal_eval(x) if isinstance(v, str)]))
    # Remove "What this Place Offers" prefix
    df['Amenities'] = df['Amenities'].apply(lambda x: x.replace('What this place offers', '').strip() if isinstance(x, str) else x)
    # Combine list items into a single string
    df['Amenities'] = df['Amenities'].apply(lambda x: ', '.join(['' if v == '' else v.strip() for v in ast.literal_eval(x) if isinstance(v, str)]))
    # Removing the first comma
    df['Amenities'] = df['Amenities'].str.replace(',', '', 1)
    return df


def set_default_feature_values(df):
        
    #Set default feature values for empty entries in the guests, beds, bathrooms, and bedrooms columns.
    df["guests"].fillna(1, inplace=True)
    df["beds"].fillna(1, inplace=True)
    df["bathrooms"].fillna(1, inplace=True)
    df["bedrooms"].fillna(1, inplace=True)
    return df


def cleaning_the_data_properly(df):
    pass


def clean_tabular_data(df):

    df1 = remove_rows_with_missing_ratings(df)
    df2 = combine_description_settings(df1)
    df3 = set_default_feature_values(df2)
    df3 = df3.reset_index(drop=True)
    return df3


def load_airbnb(df,label):

    labels = df[label]
    features = df.drop(columns=[label,'Category','ID','Title','Description','Amenities','Location','url'])
    return features, labels


#if __name__ == "__main__":

    #df = pd.read_csv("C:/Users/Anany/OneDrive/Desktop/Github/AIcore/Modelling_Airbnb's_property_listing_dataset/airbnb-property-listing/tabular_data/listing.csv")
    #clean_df = clean_tabular_data(df)
    #clean_df.to_csv("C:/Users/Anany/OneDrive/Desktop/Github/AIcore/Modelling_Airbnb's_property_listing_dataset/airbnb-property-listing/tabular_data/clean_listing.csv")

# Milestone 2 Completed
## use df1 from this point

In [63]:
print(df1.dtypes)
df1 = df1.convert_dtypes()
df1.dtypes

ID                       object
Category                 object
Title                    object
Description              object
Amenities                object
Location                 object
guests                   object
beds                    float64
bathrooms               float64
Price_Night               int64
Cleanliness_rating      float64
Accuracy_rating         float64
Communication_rating     object
Location_rating         float64
Check-in_rating         float64
Value_rating            float64
amenities_count         float64
url                      object
bedrooms                 object
dtype: object

ID                       string
Category                 string
Title                    string
Description              string
Amenities                string
Location                 string
guests                   object
beds                      Int64
bathrooms               Float64
Price_Night               Int64
Cleanliness_rating      Float64
Accuracy_rating         Float64
Communication_rating     object
Location_rating         Float64
Check-in_rating         Float64
Value_rating            Float64
amenities_count         Float64
url                      string
bedrooms                 object
dtype: object

In [64]:
"""df1['Communication_rating'].unique()
df1.loc[df1['Communication_rating'] == 'https://www.airbnb.co.uk/rooms/49009981?adults=1&category_tag=Tag%3A677&children=0&infants=0&search_mode=flex_destinations_search&check_in=2022-04-18&check_out=2022-04-25&previous_page_section_name=1000&federated_search_id=0b044c1c-8d17-4b03-bffb-5de13ff710bc'].index
df1.loc[498]
# Interchange values in row 2 (index 1) between column1 and column2
temp_value = df.at[498, 'Communication_rating']  
df1.at[498, 'Communication_rating'] = df.at[498, 'url']  
df1.at[498, 'url'] = temp_value """

"df1['Communication_rating'].unique()\ndf1.loc[df1['Communication_rating'] == 'https://www.airbnb.co.uk/rooms/49009981?adults=1&category_tag=Tag%3A677&children=0&infants=0&search_mode=flex_destinations_search&check_in=2022-04-18&check_out=2022-04-25&previous_page_section_name=1000&federated_search_id=0b044c1c-8d17-4b03-bffb-5de13ff710bc'].index\ndf1.loc[498]\n# Interchange values in row 2 (index 1) between column1 and column2\ntemp_value = df.at[498, 'Communication_rating']  \ndf1.at[498, 'Communication_rating'] = df.at[498, 'url']  \ndf1.at[498, 'url'] = temp_value "

In [65]:
len(df1['Communication_rating'].unique())
len(df1['url'].unique())

830

In [66]:
df1['guests'].unique()
df1['guests'] = pd.to_numeric(df1['guests'],errors='coerce')
df1['guests'] = df1['guests'].astype('Int64')
df1['guests']

0      2
1      3
2      4
3      2
4      4
      ..
825    4
826    2
827    4
828    6
829    4
Name: guests, Length: 830, dtype: Int64

In [67]:
import numpy as np
df1['bedrooms'] = pd.to_numeric(df1['bedrooms'],errors='coerce')
df1['bedrooms'] = df1['bedrooms'].astype("Int64")
(df1['bedrooms'].unique())

<IntegerArray>
[1, 2, 5, 3, 4, 8, 6, 10, 7]
Length: 9, dtype: Int64

In [68]:
df1['Communication_rating'].unique()

array([4.3, 4.6, 4.8, 4.9, 5.0, 4.4, 4.7, 4.5, 3.9, 4.2, 4.0,
       'https://www.airbnb.co.uk/rooms/49009981?adults=1&category_tag=Tag%3A677&children=0&infants=0&search_mode=flex_destinations_search&check_in=2022-04-18&check_out=2022-04-25&previous_page_section_name=1000&federated_search_id=0b044c1c-8d17-4b03-bffb-5de13ff710bc'],
      dtype=object)

In [69]:
df1 = df1.convert_dtypes()
#upon further investigation there seems to be a row where a value has been interchanged between url and communication_rating
problematic_row = df1.loc[df1['url']=='46'].index[0]
print(problematic_row)
temp_value = df1.at[problematic_row, 'Communication_rating']  
df1.at[problematic_row, 'Communication_rating'] = df1.at[problematic_row, 'url']  
df1.at[problematic_row, 'url'] = temp_value
#however the problem is still not fixed as the value in communication_rating is '46' in the string format but we can
#take a reasonable guess and safely say that the rating is 4.6 
df1.at[problematic_row, 'Communication_rating'] = 4.6
# we can now safely convert the datatype to float
df1['Communication_rating'] = df1['Communication_rating'].astype('Float64')

# fixing the column 'guests'
df1['guests'] = pd.to_numeric(df1['guests'],errors='coerce')
df1['guests'] = df1['guests'].astype('Int64')
df1['guests']

# fixing the column 'bedrooms'
df1['bedrooms'] = pd.to_numeric(df1['bedrooms'],errors='coerce')
df1['bedrooms'] = df1['bedrooms'].astype("Int64")

df1.dtypes

498

ID                       string
Category                 string
Title                    string
Description              string
Amenities                string
Location                 string
guests                    Int64
beds                      Int64
bathrooms               Float64
Price_Night               Int64
Cleanliness_rating      Float64
Accuracy_rating         Float64
Communication_rating    Float64
Location_rating         Float64
Check-in_rating         Float64
Value_rating            Float64
amenities_count         Float64
url                      string
bedrooms                  Int64
dtype: object

df1 is now clean. 
### Milestone 4 task 1

In [70]:
from sklearn.linear_model import SGDRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

def load_airbnb(df, label):
    """
    Extract features and labels from the DataFrame.
    
    Parameters:
        df (DataFrame): The input DataFrame.
        label (str): The name of the column representing the label.
    
    Returns:
        DataFrame, Series: Features DataFrame and labels Series.
    """
    labels = df[label]
    # Drop irrelevant columns (e.g., 'Category', 'ID', 'Title', 'Description', 'Amenities', 'Location', 'url') to get the features DataFrame
    features = df.drop(columns=[label, 'Category', 'ID', 'Title', 'Description', 'Amenities', 'Location', 'url'])
    return features, labels

# loading the clean dataset as features and labels
X, y = load_airbnb(df1, label="Price_Night")

#splitting dataset into training set and testing set 80:20 ratio and then 50:50 into testing and validation sets
#respectively for cross-validation purposes later on in model evaluation process
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=42)
X_test, X_val, y_test, y_val = train_test_split(X_test,y_test,test_size=0.5,random_state=42)

#print(X_train.sum(), X_test.sum(),X_val.sum(), y_train, y_test,y_val)

print("Training data shape:", X_train.shape)
print("Training Label shape:", y_train.shape)

model = SGDRegressor(random_state=42) #creating an instance of linear regression algorithm
model.fit(X_train, y_train)#fitting our training set
#y_pred = model.predict(X_test)


#msevalue = mean_squared_error(y_test, y_pred)
#r2 = r2_score(y_test, y_pred)

#print('msevalue: ',msevalue)
#print('r2: ',r2)

#the outputs at this point suggest that there might be some issues with modelling
#extreme high values of mse and negative r-squared suggest that model is doing poorly and not fitting well

# Make predictions on the training and test sets
y_train_pred = model.predict(X_train)
y_test_pred = model.predict(X_test)

# Compute RMSE for training and test sets
train_rmse = mean_squared_error(y_train, y_train_pred, squared=False)
test_rmse = mean_squared_error(y_test, y_test_pred, squared=False)

# Compute R^2 (coefficient of determination) for training and test sets
train_r2 = r2_score(y_train, y_train_pred)
test_r2 = r2_score(y_test, y_test_pred)

# Print the results
print("Training RMSE:", train_rmse)
print("Test RMSE:", test_rmse)
print("Training R-squared (R2):", train_r2)
print("Test R-squared (R2):", test_r2)

Training data shape: (664, 11)
Training Label shape: (664,)
Training RMSE: 1859439085.9402883
Test RMSE: 1846233053.6606545
Training R-squared (R2): -216745173790919.88
Test R-squared (R2): -128225534799964.14

In [72]:
# Make predictions on the training and test sets
y_train_pred = model.predict(X_train)
y_test_pred = model.predict(X_test)

# Compute RMSE for training and test sets
train_rmse = mean_squared_error(y_train, y_train_pred, squared=False)
test_rmse = mean_squared_error(y_test_pred, y_test, squared=False)

# Compute R^2 (coefficient of determination) for training and test sets
train_r2 = r2_score(y_train, y_train_pred)
test_r2 = r2_score(y_test, y_test_pred)

# Print the results
print("Training RMSE:", train_rmse)
print("Test RMSE:", test_rmse)
print("Training R-squared (R2):", train_r2)
print("Test R-squared (R2):", test_r2)

Training RMSE: 1859439085.9402883
Test RMSE: 1846233053.6606545
Training R-squared (R2): -216745173790919.88
Test R-squared (R2): -128225534799964.14

In [100]:
import itertools  
def custom_tune_regression_model_hyperparameters(model_class, X_train, y_train, X_val, y_val, X_test, y_test, hyperparameters):
    best_model = None
    best_hyperparameters = {}
    best_performance_metrics = {'validation_rmse':np.nan}
    best_rmse = float('inf')

    for hyperparam_values in itertools.product(*hyperparameters.values()):

        hyperparam_dict = dict(zip(hyperparameters.keys(), hyperparam_values))
        #make an instance of the model class
        model = model_class(**hyperparam_dict)
        #fit the training data into the model
        model.fit(X_train,y_train)
        #making prediction on the validation sets
        y_val_pred = model.predict(X_val)
        #calculating rmse for validation set
        val_rmse = mean_squared_error(y_val,y_val_pred,squared=False)
        if (val_rmse < best_rmse):
            best_model = model
            best_hyperparameters = hyperparam_dict
            best_rmse = val_rmse
    
    best_model.fit(pd.concat([X_train,X_val]),pd.concat([y_train, y_val]))
    final_val_pred = best_model.predict(X_val)
    final_val_rmse = mean_squared_error(y_val,final_val_pred,squared=False)

    final_test_pred = best_model.predict(X_test)
    final_test_rmse = mean_squared_error(y_test,final_test_pred,squared=False)

    best_performance_metrics = {'validation_rmse':final_val_rmse,'test_rmse':final_test_rmse}

    return best_model,best_hyperparameters,best_performance_metrics

In [101]:
# Define hyperparameters to search over
hyperparameters_to_search = {
    "alpha": [0.001, 0.01, 0.1, 1.0],
    "max_iter": [1000, 2000, 3000],
    "tol": [1e-3, 1e-4, 1e-5]
}

# Call the custom_tune_regression_model_hyperparameters function
best_model, best_hyperparameters, performance_metrics = custom_tune_regression_model_hyperparameters(
    model_class=SGDRegressor,
    X_train=X_train, y_train=y_train,
    X_val=X_val, y_val=y_val,
    X_test=X_test, y_test=y_test,
    hyperparameters=hyperparameters_to_search
)

# Print the results
print("Best Hyperparameters:", best_hyperparameters)
print("Validation RMSE for Best Model:", performance_metrics["validation_rmse"])
print("Test RMSE for Best Model:", performance_metrics["test_rmse"])

Best Hyperparameters: {'alpha': 1.0, 'max_iter': 2000, 'tol': 1e-05}
Validation RMSE for Best Model: 261354791.6044135
Test RMSE for Best Model: 245907259.53792834

#m4t4

In [128]:
from sklearn.model_selection import GridSearchCV

def tune_regression_model_hyperparameters(model_class,X_train,y_train,hyperparameters):
    model = model_class(random_state=42)
    gridsearch = GridSearchCV(estimator=model,param_grid=hyperparameters,cv=30, scoring='neg_root_mean_squared_error', verbose=1)
    gridsearch.fit(X_train,y_train)
    return gridsearch

hyperparameters_to_search = {
    "alpha": [0.001, 0.01, 0.1, 1.0],
    "max_iter": [1000, 2000, 3000],
    "tol": [1e-3, 1e-4, 1e-5]
}

# Call the tune_regression_model_hyperparameters function
grid_search = tune_regression_model_hyperparameters(
    model_class=SGDRegressor,
    X_train=X_train, y_train=y_train,
    hyperparameters=hyperparameters_to_search
)

# Print the best hyperparameters and score
print("Best Hyperparameters:", grid_search.best_params_)
print("Best Validation RMSE:", -grid_search.best_score_)
y_val_pred = model.predict(X_val)
val_rmse = mean_squared_error(y_val_pred,y_val,squared=False)
percentimprovement = (-grid_search.best_score_ - val_rmse)/val_rmse
print('percentage improvement:',percentimprovement*100  )

Fitting 30 folds for each of 36 candidates, totalling 1080 fits
Best Hyperparameters: {'alpha': 1.0, 'max_iter': 1000, 'tol': 0.001}
Best Validation RMSE: 172667607.7425975
percentage improvement: -91.08832669381808

- Now you need to save the model.

- Create a folder called models.

- Within your models folder, create a folder called regression to save your regression models and their metrics in.

- Define a function called save_model which saves the model in a file called model.joblib, its hyperparameters in a file called hyperparameters.json, and its performance metrics in a file called metrics.json once it's trained and tuned.

- The function should take in the name of a folder where these files should be saved as a keyword argument "folder". In this case, set that argument equal to models/regression/linear_regression.

- Note: If you're on windows, the path separator will be different. Use Python's os library to avoid having to write the separator explicitly.

In [120]:
import joblib
import os
import json

def save_model(model,hyperparametrics,performance_metrics,folder='models/regression/linear_regression'):

    """
    Saves the trained regression model, its hyperparameters and performance metrics in a specified directory.

    Parameters:
        model: The trained regression model.
        hyperparametrics (dict): dictionary containing all of the parameters used for training.
        performance_metrics (dict): dictionary containing all the performance metrics.
        folder (str): The folders where the file will be saved.
    """

    # create folder if it doesn't exist
    os.makedirs(folder,exist_ok=True)

    # save model using joblib
    model_name = os.path.join(folder,'model.joblib')
    joblib.dump(model, model_name)

    # save hyperparameters to a json file
    hyperparametrics_name = os.path.join(folder,'hyperparametrics.json')
    with open(hyperparametrics_name, 'w') as f:
        json.dump(hyperparametrics,f,indent=4)

    # save performance_metrics to a json file
    performance_metrics_name = os.path.join(folder,'performance_metrics.json')
    with open(performance_metrics_name, 'w') as f:
        json.dump(performance_metrics,f,indent=4)

In [121]:
# Save the model, hyperparameters, and metrics
save_model(best_model, grid_search.best_params_, -grid_search.best_score_)